div{
	text-align: center;
	margin: auto;
	border-radius: 25px;
	background-color: grey;
}
canvas {
	border:1px solid #000000;
	margin: 5px;
}
form{
	margin: 5px;
}
button{
	margin: 5px;
}

#info{
	margin: auto;
	border: 1px solid #000000;
	border-color: "black";
	border-radius: 15px;
	max-width: 500px;
}