div{
	text-align: center;
	margin: auto;
	border-radius: 25px;
	background-color: grey;
}

canvas {
	border: 1px solid #000000;
	margin: 5px;
}
form{
	margin: 5px;
}
button{
	margin: 5px;
}

strong {
	font-size: 18px;
}

#info{
	margin: auto;
	border: 1px solid #000000;
	border-radius: 15px;
	max-width: 500px;
	background-color: white;
}

#intro{
	z-index: 9;
	margin: auto;
	max-width: 400px;
	position: absolute;
	top: 50px;
	left: 50px;
	border: 1px solid #000000;
	border-radius: 15px;
	background-color: white;
}