div {
	text-align: center;
}

canvas {
	border: 3px solid #000000;
	margin: 3%;
}

form{
	margin: 5px;
}

button{
	margin: 5px;
	text-align: center;
}

strong {
	font-size: 18px;
}

#info{
	text-align: left;
	padding: 2%;
	max-width: 80%;
	margin: 3% auto;
	border: 1px solid #000000;
	border-radius: 15px;
	background-color: #dbf3fa;
}

#control{
	margin: auto;
	max-width: 400px;
	border: 1px solid #000000;
	border-radius: 15px;
	background-color: #dbf3fa;
}

.back{
	border-radius: 25px;
	background-color: grey;
}

.column {
	float: left;
}

.middle{
	width: 40%;
}

.left, .right{
	width: 30%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}